.cabecalhoCarrinho{
    @media (max-width: 600px) 
    {
        display: none;
    }
}
.mostraMobile{
    @media (max-width: 600px) 
    {
        display: block;
        width: 50%;
        text-align: center;
    }
}
.naoMostraMobile{
    @media (min-width: 600px) 
    {
        display: none;
    }
}