/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  min-height: 100vh;
}
@media (max-width: 600px) {
  .container {
    margin-top: 100px;
  }
}

.bg-dark {
    background-color: #012e40!important;
}

.btn-dark {
    color: #fff;
    background-color: #012e40;
    border-color: #012e40;
}

.carousel-indicators {
  margin-bottom: -20px;
}

.carousel-indicators li {
  background-color: dodgerblue;
}

.carousel-inner {
  overflow: visible;
}

.carousel-control-prev {
  margin-left: -100px;
}
.carousel-control-next{
  margin-right: -100px;
}
@media (max-width: 600px) {
  .carousel-control-prev {
    margin-left: -30px;
  }
  .carousel-control-next{
    margin-right: -30px; 
  }
}

.carousel-control-next-icon {
  background-color:  dodgerblue;
}
.carousel-control-prev-icon {
  background-color:  dodgerblue;
}

.controlButtonsBanner{
  .carousel-control-prev {  
    visibility: hidden;
  }
  .carousel-control-next{  
    visibility: hidden;
  }  
}
