<div class="container" *ngIf="this.carregando" >
  <app-carregando></app-carregando>
</div>

<div class="container" *ngIf="!this.carregando">
  <!-- MOBILE -->
    <!-- BANNER -->
    <div style="height: 16vh;" *ngIf="this.singleton.mobile" >
      <carousel [noPause]="false" [isAnimated]="true"  [indicatorsByChunk]="true" [showIndicators]="true" [singleSlideOffset]="false" 
      *ngIf="!this.carregando" style="height: 16vh;" class="controlButtonsBanner">
        <slide style="max-height: 15vh;">
            <img src="assets/images/banner/1.jpg" style="width: 100%;height: auto;max-height: 15vh;"
                alt="First slide">
        </slide>
        <slide style="max-height: 15vh;">
            <img  src="assets/images/banner/2.jpg" style="width: 100%;height: auto;max-height: 15vh;"
                alt="First slide">
        </slide>
        <slide style="max-height: 15vh;">
            <img  src="assets/images/banner/3.jpg" style="width: 100%;height: auto;max-height: 15vh;"
                alt="First slide">
        </slide>
        <slide style="max-height: 15vh;">
            <img  src="assets/images/banner/4.jpg" style="width: 100%;height: auto;max-height: 15vh;"
                alt="First slide">
        </slide>
        <slide style="max-height: 15vh;">
            <img  src="assets/images/banner/5.jpg" style="width: 100%;height: auto;max-height: 15vh;"
                alt="First slide">
        </slide>
        <slide style="max-height: 15vh;">
            <img  src="assets/images/banner/SemBanner.jpg" style="width: 100%;height: auto;max-height: 15vh;"
                alt="First slide">
        </slide>
      </carousel>
    </div>

    <!-- PROMOÇÃO -->
    <div style="height: 350px;margin-bottom: 30px;" *ngIf="this.singleton.mobile" >
      <h6 style="width: 100%;text-align: center;">PROMOÇÃO</h6>
      <carousel [noPause]="false" [isAnimated]="true" [showIndicators]="false" *ngIf="!this.carregando" style="max-height: 325px;">
        <slide style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
        <slide style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
        <slide style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
      </carousel>
    </div>
    <br/>

    <!-- DESTAQUES -->
    <div style="height: 350px;margin-bottom: 30px;" *ngIf="this.singleton.mobile"  >
      <h6 style="width: 100%;text-align: center;">DESTAQUES</h6>
      <carousel [noPause]="false" [isAnimated]="true" [showIndicators]="false" *ngIf="!this.carregando" style="max-height: 325px;">
        <slide  style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
        <slide style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
        <slide style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
      </carousel>
    </div>
    <br/>

    <!-- DEMAIS PRODUTOS -->
    <div style="height: 350px;margin-bottom: 30px;" *ngIf="this.singleton.mobile"  >
      <h6 style="width: 100%;text-align: center;">ALGUNS PRODUTOS</h6>
      <carousel [noPause]="false" [isAnimated]="true" [showIndicators]="false" *ngIf="!this.carregando" style="max-height: 325px;">
        <slide   style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;" 
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
        <slide style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
        <slide style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-12" style="margin-bottom: 15px;max-height: 325px;"
                  >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                        <a class="card-title" style="text-align: center;cursor: pointer;"
                        >Nome Produto</a>
                        <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                            R$ 100,00 à vista/boleto</p>
                        <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                            R$ 100,00 em 1x no cartão</p>
                        <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>
      </carousel>
    </div>
    <br/>

  <!-- WEB -->
    <!-- BANNER -->
    <div style="height: 30vh;margin-bottom: 30px;" *ngIf="!this.singleton.mobile" >
      <carousel [noPause]="true" [isAnimated]="true" [indicatorsByChunk]="true" *ngIf="!this.carregando" style="max-height: 30vh;" class="controlButtonsBanner">
        <slide  style="max-height: 30vh;">
            <img  src="assets/images/banner/1.jpg" style="width: 100%;height: auto;max-height: 30vh;">
        </slide>
        <slide  style="max-height: 30vh;">
            <img  src="assets/images/banner/2.jpg" style="width: 100%;height: auto;max-height: 30vh;">
        </slide>
        <slide  style="max-height: 30vh;">
            <img  src="assets/images/banner/3.jpg" style="width: 100%;height: auto;max-height: 30vh;">
        </slide>
        <slide  style="max-height: 30vh;">
            <img  src="assets/images/banner/4.jpg" style="width: 100%;height: auto;max-height: 30vh;">
        </slide>
        <slide  style="max-height: 30vh;">
            <img  src="assets/images/banner/5.jpg" style="width: 100%;height: auto;max-height: 30vh;">
        </slide>
        <slide  style="max-height: 30vh;">
            <img  src="assets/images/banner/SemBanner.jpg" style="width: 100%;height: auto;max-height: 30vh;">
        </slide>
      </carousel>
    </div>

    <!-- PROMOÇÃO -->
    <div style="height: 350px;margin-bottom: 30px;" *ngIf="!this.singleton.mobile" >
      <h6 style="width: 100%;text-align: center;">PROMOÇÃO</h6>
      <carousel [noPause]="false" [isAnimated]="true" [showIndicators]="false" *ngIf="!this.carregando" style="max-height: 325px;">
        <slide
          style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>  

        <slide
        style="max-height: 325px;">
          <div class="col-sm-12 col-md-12">
              <div class="row" style="margin: 0px;">
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
              </div>
          </div>
        </slide>

        <slide
        style="max-height: 325px;">
          <div class="col-sm-12 col-md-12">
              <div class="row" style="margin: 0px;">
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
              </div>
          </div>
        </slide>
      </carousel>
    </div>
    <br/>

    <!-- DESTAQUES -->
    <div style="height: 350px;margin-bottom: 30px;" *ngIf="!this.singleton.mobile" >
      <h6 style="width: 100%;text-align: center;">DESTAQUES</h6>
      <carousel [noPause]="false" [isAnimated]="true" [showIndicators]="false" *ngIf="!this.carregando" style="max-height: 325px;">
        <slide
          style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>  

        <slide
        style="max-height: 325px;">
          <div class="col-sm-12 col-md-12">
              <div class="row" style="margin: 0px;">
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
              </div>
          </div>
        </slide>
        
        <slide
        style="max-height: 325px;">
          <div class="col-sm-12 col-md-12">
              <div class="row" style="margin: 0px;">
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
              </div>
          </div>
        </slide>
      </carousel>
    </div>
    <br/>

    <!-- DEMAIS PRODUTOS -->
    <div style="height: 350px;margin-bottom: 30px;" *ngIf="!this.singleton.mobile" >
      <h6 style="width: 100%;text-align: center;">ALGUNS PRODUTOS</h6>
      <carousel [noPause]="false" [isAnimated]="true" [showIndicators]="false" *ngIf="!this.carregando" style="max-height: 325px;">
        <slide
          style="max-height: 325px;">
            <div class="col-sm-12 col-md-12">
                <div class="row" style="margin: 0px;">
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                  <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                    <div style="height: 250px;align-self: center;">
                        <img  src="assets/images/produto/SemImagem.jpg"
                            class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                    </div>
                    <div class="card-body" style="padding: 0px;text-align: center">
                      <a class="card-title" style="text-align: center;cursor: pointer;"
                      >Nome Produto</a>
                      <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                          R$ 100,00 à vista/boleto</p>
                      <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                          R$ 100,00 em 1x no cartão</p>
                      <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                    </div>
                  </div>
                </div>
            </div>
        </slide>  

        <slide
        style="max-height: 325px;">
          <div class="col-sm-12 col-md-12">
              <div class="row" style="margin: 0px;">
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
              </div>
          </div>
        </slide>
        
        <slide
        style="max-height: 325px;">
          <div class="col-sm-12 col-md-12">
              <div class="row" style="margin: 0px;">
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
                <div class="card col-md-4" style="margin-bottom: 15px;max-height: 325px;" >
                  <div style="height: 250px;align-self: center;">
                      <img  src="assets/images/produto/SemImagem.jpg"
                          class="card-img-top" alt="..." style="width: auto; max-width: 100%; height: auto;max-height: 250px; cursor: pointer;">
                  </div>
                  <div class="card-body" style="padding: 0px;text-align: center">
                    <a class="card-title" style="text-align: center;cursor: pointer;"
                    >Nome Produto</a>
                    <p class="card-text" style="text-align: center;color: forestgreen;margin-bottom: 0px;">
                        R$ 100,00 à vista/boleto</p>
                    <p class="card-text" style="text-align: center;font-weight: bold;margin-bottom: 0px;">
                        R$ 100,00 em 1x no cartão</p>
                    <h6 *ngIf="esgotado" style="color: white;background-color: red;">PRODUTO ESGOTADO</h6>
                  </div>
                </div>
              </div>
          </div>
        </slide>
      </carousel>
    </div>
    <br/>

</div>
